<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="SensoComumRepo" value="https://serradas-msft.pkgs.visualstudio.com/_packaging/SensoComum-dev/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <SensoComumRepo>
      <add key="Username" value="contact@outlook.com" />
      <add key="ClearTextPassword" value="x7evbrtwnasvfncmnfdvtvjl7yueyiurplbgjexf2dlap4s3frnq" />
    </SensoComumRepo>
  </packageSourceCredentials>
</configuration>